body {
   background: linear-gradient(#a2d2ff, #ef80c9);
   color: #ffffff;
   text-align: center;
   font-family: "Happy Monkey", cursive;
}

#main-image{
   width: 150px;
   border-radius: 50%;
   border: 6px  solid #ef80c9;
   margin-bottom: 10px;
}
h1, h2, h4, p {
   text-shadow: 0 0 1px black;
}

#bday-age{
   background: #ef80c9;
   padding: 5px 10px;
   border-radius: 5px;
   margin: 5px 0 10px 0;
}
#bday-date{
   margin: 0;
   background: #ef80c9;
   padding: 5px 10px;
   border-radius: 5px;
}

#Header{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.gift-section{
   margin-top: 50px;
}

.gift-title{
   margin-bottom: 10px;
}

.gift-hint{
   margin-top: 0;
}

.gift-img{
   margin: 0 auto;
   width: 400px;
   border: 6px solid white;
   border-radius: 10px;
   height: 400px;
   background-image: url("Images/Gift\ cover.jpeg");
   background-size: cover;
}

#gift-img-1:hover{
   background-image: url("Images/Happy.gif");
}

#gift-img2{
   margin: 0 auto;
   width: 400px;
   border: 6px solid white;
   border-radius: 10px;
   height: 400px;
   background-image: url("Images/Gift\ cover.jpeg");
   background-size: cover;
}

#gift-img2:hover{
   background-image: url("Images/Hot.gif");
}

#gift-img-3{
   margin: 0 auto;
   width: 400px;
   border: 6px solid white;
   border-radius: 10px;
   height: 400px;
   background-image: url("Images/Gift\ cover.jpeg");
   background-size: cover;
}

#gift-img-3:hover{
   background-image: url("Images/Genius.gif");
}

#gift-img-4{
   margin: 0 auto;
   width: 400px;
   border: 6px solid white;
   border-radius: 10px;
   height: 400px;
   background-image: url("Images/Gift\ cover.jpeg");
   background-size: cover;
}

#gift-img-4:hover{
   background-image: url("Images/Badass.gif");
}

#gift-img-cheers{
   margin: 0 auto;
   width: 400px;
   border: 6px solid white;
   border-radius: 10px;
   height: 200px;
   background-image: url("Images/Gift\ cover.jpeg");
   background-size: cover;
}

#gift-img-cheers:hover{
   background-image: url("Images/Cheers.gif");
}

#ending{
   font-style: italic;
   width: 400px;
   margin: 20px auto 20px;
}
a{
   color: white;
}